<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Crime Analyser</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
  <!-- Custom Font Icons CSS-->
  <link rel="stylesheet" href="css/font.css">
  <!-- Google fonts - Muli-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="css/custom.css">
  <link rel="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/fontawesome.min.css">

  <!-- Favicon-->
  <link rel="shortcut icon" href="img/Illuminati-PNG-Image.png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link href="https://cdn.datatables.net/1.10.18/css/dataTables.jqueryui.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/dataTables.jqueryui.min.js"></script>

  <style>
    html {
      visibility: hidden;
    }

    table,
    th,
    td {
      border: 1px solid black;
      width: 70%
    }
  </style>
  <script src="functions/functions.js"></script>
  <script src="functions/onload.js"></script>

</head>

<body>
  <header class="header">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="navbar-header">
          <!-- Navbar Header-->
          <a href="#" class="navbar-brand">
            <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary"></strong><strong>Crime
                Analyser</strong></div>
            <div class="brand-text brand-sm"><strong class="text-primary"></strong><strong>CA</strong></div>
          </a>
          <!-- Sidebar Toggle Btn-->
          <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
        </div>
        <div class="right-menu list-inline no-margin-bottom">
          <div class="list-inline-item logout">
            <a id="logout" href="/login" class="nav-link"> <span class="d-none d-sm-inline">Logout </span><i
                class="icon-logout"></i></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="d-flex align-items-stretch">
    <!-- Sidebar Navigation-->
    <nav id="sidebar">
      <!-- Sidebar Header-->
      <div class="sidebar-header d-flex align-items-center">

        <div class="title">
          <h1 class="h5" id=name></h1>
        </div>
      </div>
      <!-- Sidebar Navidation Menus-->
      <!-- <span class="heading">Main</span> -->
      <ul class="list-unstyled">
        <li class="active"><a href="/dashboard"> <i class="icon-grid"></i>Analysis </a></li>
        <li><a href="/prediction"> <i class="fa fa-bar-chart"></i>Prediction</a></li>

      </ul>
    </nav>
    <div class="page-content">
      <!-- Page Header-->
      <div class="page-header no-margin-bottom">
        <div class="container-fluid">
          <h2 class="h5 no-margin-bottom">Crime Analysis</h2>
        </div>
      </div>
      <!-- Breadcrumb-->
      <div class="container-fluid">
        <div class="breadcrumb">

        </div>
      </div>
      <section class="no-padding-top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 ">
              <div class="block "><a href="#topCrimes" rel="modal:open">
                  <h2 class="txt">Show Top crimes</h2>
                </a>
              </div>
            </div>
            <div class="col-lg-6 ">
              <div class="block "><a href="#topSpots" rel="modal:open">
                  <h2 class="txt">Show Top crime spots</h2>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 ">
              <div class="block "><a href="#crimesNear" rel="modal:open">
                  <h2 class="txt">Show Top crime spots near by</h2>
                </a>
              </div>
            </div>

            <div class="col-lg-6 ">
              <div class="block "><a href="/visualization">
                  <h2 class="txt">Query Visualization</h2>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 ">
              <div class="block "><a href="#trianglecount" rel="modal:open">
                  <h2 class="txt">Triangle count</h2>
                </a>
              </div>
            </div>
            <div class="col-lg-6 ">
              <div class="block "><a href="#connections" rel="modal:open">
                  <h2 class="txt">Person's connections</h2>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-6 ">
                <div class="block "><a href="#trianglecount" rel="modal:open">
                    <h2 class="txt">Betweeness Centrality</h2>
                  </a>
                </div>
              </div>
              <div class="col-lg-6 ">
                <div class="block "><a href="#connections" rel="modal:open">
                    <h2 class="txt"></h2>
                  </a>
                </div>
              </div>
            </div>

        </div>
        

        </div>
    </div>
    </section>
  </div>
  <footer class="footer">
    <div class="footer__block block no-margin-bottom">
      <div class="container-fluid text-center">
        <p class="no-margin-bottom">2019 &copy; Crime Analyser</a>.</p>
      </div>
    </div>
  </footer>
  </div>


  <!--Top crimes list-->
  <div id="topCrimes" class="modal" style="height:70%;width:50%">
    <table id="topCrimes">
      <tr>
        <th>Crime Type</th>
        <th>Total</th>
      </tr>


    </table>

  </div>
  <script>
    getTopCrimes(function (data) {
      for (i = 0; i <= 10; i++) {
        var markup = "<tr><td>" + data.records[i]['_fields'][0] + "</td>" + "<td >" + data.records[i]['_fields'][1]['low'] + "</td></tr>"
        $("#topCrimes").append(markup)
      }

    })

  </script>


  <!--Top Hotspots-->
  <div id="topSpots" class="modal" style="height:70%;width:50%">
    <table id="topSpots">
      <tr>
        <th>Address</th>
        <th>Postcode</th>
      </tr>

    </table>

  </div>
  <script>
    getTopSpots(function (data) {
      for (i = 0; i <= 9; i++) {
        var markup = "<tr><td>" + data.records[i]['_fields'][0] + "</td>" + "<td >" + data.records[i]['_fields'][1] + "</td></tr>"
        $("#topSpots").append(markup)
      }

    })

  </script>
  <!---Crimes near-->
  <div id="crimesNear" class="modal" style="height:auto;width:auto;margin-top:5%">
    <form id="crimenear">
      <input id="addr" type="text" placeholder="Address">
      <input id="postcode" type="text" placeholder="Postcode">
      <input id="distance" type="number" placeholder="Distance">
      <input type="submit">
    </form>
    <table id="crimeneartable" style="visibility:hidden">
      <tr>
        <th>Address</th>
        <th>Postcode</th>
        <th>Crime Type</th>
        <th>Distance</th>

      </tr>
    </table>

  </div>

  <script>
    $("#crimenear").submit(function (e) {
      e.preventDefault();
      $("#crimenear").hide()
      getCrimesNear($("#addr").val(), $("#postcode").val(), $("#distance").val(), function (data) {
        for (i = 0; i <= 9; i++) {
          var markup = "<tr><td>" + data.records[i]['_fields'][0] + "</td>" + "<td >" + data.records[i]['_fields'][1] + "</td>" + "<td >" + data.records[i]['_fields'][3] + "</td>" + "<td >" + data.records[i]['_fields'][4] + "</td></tr>"
          $("#crimeneartable").append(markup)
        }

        $("#crimeneartable").css("visibility", "visible")
      })



    });
  </script>


  <!--persons connections-->
  <div id="connections" class="modal" style="height:auto;width:auto;margin-top:5%">
    <form id="people">
      <input id="rnhs" type="text" placeholder="Person's id">
      <input type="submit">
    </form>

  </div>

  <script>
    $("#people").submit(function (e) {
      e.preventDefault();

      window.location.href = "/connections?q=" + $("#rnhs").val()



    });
  </script>


  <!--Triangle count-->
  <div id="trianglecount" class="modal" style="height:auto;width:auto;margin-top:5%">
    <table id="triangle" class="display">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  </div>
  <script>

    getTriangleCount(function (data) {
      for (i = 0; i <= 9; i++) {
        var markup = "<tr><td>" + data.records[i]['_fields'][0] + "</td>" + "<td >" + data.records[i]['_fields'][1] + "</td>" + "<td >" + data.records[0]['_fields'][2]['low'] + "<td ><button onclick=" + "get('" + data.records[i]['_fields'][1] + "')>Get Graph</button></td></tr>"
        $("#triangle").append(markup)
      }

    })


    function get(dat) {
      window.location.href = "/showtriangle?q=" + dat
    }


  </script>
  <!-- JavaScript files-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/popper.js/umd/popper.min.js"> </script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/jquery-validation/jquery.validate.min.js"></script>
  <script src="js/front.js"></script>

  <script>
    $("#name").append(localStorage.getItem('fname'))
  </script>


</body>

</html>